.flash-messages {
  margin-bottom: 34px;
  font-size: 0.89rem;
  line-height: 21px;
  border-radius: 8px;
  border: 1px solid;
  padding: 8px;

  .messages-intro:before {
    display: inline-block;
    font-weight: bold;
    margin-right: 13px;
  }

  &.error-messages {
    color: white;
    background-color: rgba(255,0,0,0.55);

    .messages-intro:before {
      content: "\002717";
    }
  }

  &.success-messages {
    color: white;
    background-color: green;

    .messages-intro:before {
      content: "\002714";
    }
  }

}

