@import "../../scss/component-includes";

:host {
    position: relative;
    display: block;

    width: 100%; // needed due to 'display: flexbox' on parent (width needs to be other than auto)
    height: auto;
    max-height: 90vh;
    max-width: 100vw;
    min-height: 21vh;
    min-width: 34vw;
    margin: 0;
    overflow: hidden;
    z-index: $carousel-z-index + 1;

    text-align: center;
    box-shadow: 0 0 55px rgba(0, 0, 0, 0.34);
    background: $color-7-3;
    color: $color-7-2;

    @extend %slide-transition-def;
    @include transform(scale(0.89));
    @include with-browser-prefixes(transform-origin, (center center));

    &:hover {
        cursor: pointer;
    }

    &.active,
    &:active {
        @include transform(scale(1.1));
        z-index: $carousel-z-index + 2;
        margin: 0 1.0rem;
        box-shadow: 0 0 144px rgba(0, 0, 0, 0.13);
    }

    &.loaded {
        min-height: auto;
        height: auto;
    }

}
