@import "../../scss/component-includes";

:host {
    position: fixed;
    top: 0;
    left: 0;

    > * {
        position: relative;
    }

    &.active {
        animation-name: carousel-in;
        animation-duration: 1s;
        @include transform(translateY(0));
    }

    &,
    .carousel-scrollable-container,
    .carousel-items,
    .carousel-item {
        @extend %slide-transition-def;
    }

    &.active.from-closed {
        .carousel-items {
            @include transition(fit-with-browser-prefixes((
                transform $ani-speed-8 ease-in-out,
                margin $ani-speed-8 ease-in-out,
                box-shadow $ani-speed-8 ease-in-out,
                opacity $ani-speed-8 ease-in-out,
            ), (transform)));
        }
    }

    .controls {
        position: absolute;
        display: inline-block;
        right: 0;
        margin: 13px;
        z-index: $carousel-z-index + 9;

        .close-btn {
            line-height: 21px;
            font-size: 21px;
            box-shadow: 0 0 21px rgba(0,0,0,0.34);
        }
    }

    .carousel-scrollable-container {
        width: 100%;
        overflow: hidden;
        height: $carousel-max-height;
    }

    .carousel-items {
        display: flex;
        width: 9999px;
        justify-content: space-between;
        align-items: center;
        height: $carousel-max-height;
    }

    app-portfolio-slide-show-arrow {
        z-index: $carousel-z-index + 3;
    }

    @import "portfolio-slide-show-arrow";

}

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    :host .carousel-items .carousel-item {
        min-width: 90vw;
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    :host .carousel-items .carousel-item {
        &.portrait {
            min-height: 90vh;
            min-width: 42vw;
        }

        &.landscape {
            min-height: 21vh;
            min-width: 55vw;
        }
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    :host .carousel-items .carousel-item {
        min-width: 55vw;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    :host .carousel-items .carousel-item {
        min-width: 72vw;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    :host .carousel-items .carousel-item {
        min-width: 55vw;
    }
}

@media (min-width: 1440px) and (max-width: 2560px) {
    :host .carousel-items .carousel-item {
        &.portrait {
            min-width: 34vw;
        }
        &.landscape {
            min-width: 55vw;
        }

    }
}

@media (min-width: 2561px) and (max-width: 3840px) {
    :host .carousel-items .carousel-item {
        &.portrait {
            min-width: 34vw;
        }
        &.landscape {
            min-width: 55vw;
        }
    }
}

@keyframes carousel-in {
    from {
        @include opacity(0);
        @include transform(translateY(-5%));
    }
    to {
        @include opacity(1);
        @include transform(translateY(0));
    }
}

