@import "../../scss/component-includes";
$carousel-z-index: 99;
$carousel-max-height: 100vh;

:host {
    position: fixed;
    top: 0;
    left: 0;

    > *,
    .carousel-item {
        position: relative;
    }

    &.active {
        animation-name: carousel-in;
        animation-duration: 1s;
        @include transform(translateY(0));
    }

    &,
    .carousel-scrollable-container,
    .carousel-items,
    .carousel-item,
    .carousel-item img {
        @include transition(
                fit-with-browser-prefixes((
                    transform $ani-speed-3 ease-in-out,
                    margin $ani-speed-3 ease-in-out,
                    box-shadow $ani-speed-3 ease-in-out,
                    opacity $ani-speed-3 ease-in-out,
                ), (transform)
                )
        );
    }

    &.active.from-closed {
        .carousel-items {
            @include transition(fit-with-browser-prefixes((
                transform $ani-speed-8 ease-in-out,
                margin $ani-speed-8 ease-in-out,
                box-shadow $ani-speed-8 ease-in-out,
                opacity $ani-speed-8 ease-in-out,
            ), (transform)));
        }
    }

    .controls {
        position: absolute;
        display: inline-block;
        right: 0;
        margin: 13px;
        z-index: $carousel-z-index + 9;

        .close-btn {
            line-height: 21px;
            font-size: 21px;
            box-shadow: 0 0 21px rgba(0,0,0,0.34);
        }
    }

    .carousel-scrollable-container {
        width: 100%;
        overflow: hidden;
        height: $carousel-max-height;
    }

    .carousel-items {
        display: flex;
        width: 9999px;
        justify-content: space-between;
        align-items: center;
        height: $carousel-max-height;
    }

    .carousel-item {
        box-shadow: 0 0 55px rgba(0, 0, 0, 0.34);
        background: #FFF;
        flex-basis: 34vw;
        max-height: 89vh;
        min-width: 34vw;
        overflow: hidden;
        z-index: $carousel-z-index + 1;
        @include transform(scale(0.89));
        @include with-browser-prefixes(transform-origin, (center center));

        img {
            display: block;
            @include transition(fit-with-browser-prefixes((opacity $ani-speed-3 linear,), (opacity)));
            @include opacity(0.55);
        }
        &.active img {
            @include opacity(1);
        }

        &.active {
            @include transform(scale(1.1));
            z-index: $carousel-z-index + 2;
            margin: 0 1.0rem;
            box-shadow: 0 0 144px rgba(0, 0, 0, 0.13);
            @include opacity(1);
        }

    }

    app-portfolio-slide-show-arrow {
        z-index: $carousel-z-index + 3;
    }

    @import "portfolio-slide-show-arrow";

}

@media (min-width: 320px) and (max-width: 767px)
and (orientation: portrait) {
    :host .carousel-items .carousel-item {
        min-width: 55vw;
        min-height: 21vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :host .carousel-items .carousel-item {
        min-width: 55vw;
        min-height: 34vh;
    }
}

@media (min-width: 1025px) and (max-width: 3840px) {
    :host .carousel-items .carousel-item {
        min-width: 34vw;
        min-height: 34vw;
    }
}

@keyframes carousel-in {
    from {
        @include opacity(0);
        @include transform(translateY(-5%));
    }
    to {
        @include opacity(1);
        @include transform(translateY(0));
    }
}

