<div class="carousel-scrollable-container" #carouselContainer>
    <div class="controls">
        <a class="close-btn btn" (click)="closeSlideShow($event)">&#10005;</a>
    </div>
    <div class="carousel-items" #carouselItems>
        <app-image-with-loader
            #imageWithLoader
            *ngFor="let item of items"
            dataSrc="{{item.filePath}}"
            class="carousel-item"
            (imageWithPreloaderClick)="onSlideClick($event)"
        ></app-image-with-loader>
    </div>
    <app-portfolio-slide-show-arrow
        (click)="this.prevSlide()"
        direction="left" class="arrow-btn-left"
    ></app-portfolio-slide-show-arrow>
    <app-portfolio-slide-show-arrow
        (click)="this.nextSlide()"
        direction="right" class="arrow-btn-right"
    ></app-portfolio-slide-show-arrow>
</div>
