@import "../../scss/component-includes";

:host {
    &,
    app-image-with-loader {
        @extend %pos-rel;
    }

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 13px;

    app-image-with-loader {
        @include with-browser-prefixes(transform-origin, (center center));
        @include transition(
                fit-with-browser-prefixes((
                    transform $ani-speed-2 ease-in-out,
                    opacity $ani-speed-2 ease-in-out,
                    filter $ani-speed-2 ease-in-out,
                ), (opacity transform filter))
        );
        //@include opacity(0.89);
        display: inline-block;
        margin-bottom: 1%;
        text-align: center;
        overflow: hidden;
        z-index: 1;

        &:hover,
        &:active {
            cursor: pointer;
            @include opacity(1);
            z-index: 2;
        }

        &.active,
        &:hover {
            @include transform(scale(1.01));
            filter: brightness(1.1);
        }

        &:active {
            @include transform(scale(1));
            filter: brightness(1.1) saturate(104%);
        }
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    :host app-image-with-loader {
        flex-basis: 100%;
        margin: 1%;
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    :host app-image-with-loader {
        flex-basis: 32.33%;
        max-height: 48vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    :host app-image-with-loader {
        flex-basis: 32.33%;
        max-height: 31.33vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    :host app-image-with-loader {
        flex-basis: 32.33%;
        max-height: 21vh;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    :host app-image-with-loader {
        flex-basis: 24.33%;
        max-height: 34vh;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) and (orientation: portrait) {
    :host app-image-with-loader {
        flex-basis: 32.33%;
        max-height: 21vh;
    }
}

@media (min-width: 1440px) {
    :host app-image-with-loader {
        flex-basis: 19.33%;
        max-height: 34vh;
    }
}

@media (min-width: 1440px) and (orientation: portrait) {
    :host app-image-with-loader {
        flex-basis: 19.33%;
        max-height: 13vh;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    :host app-image-with-loader {
        flex-basis: 19.33%;
        max-height: 32.33vh;
    }
}
