@import "../../scss/component-includes";

:host {
    @extend %pos-rel;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0 13px;

}

@media (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    :host app-portfolio-thumb {
        flex-basis: 100%;
        height: 55vh;
        margin: 1%;
    }
}

@media (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
    :host app-portfolio-thumb {
        flex-basis: 32.33%;
        height: 48vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    :host app-portfolio-thumb {
        flex-basis: 32.33%;
        height: 31.33vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    :host app-portfolio-thumb {
        flex-basis: 32.33%;
        height: 21vh;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) {
    :host app-portfolio-thumb {
        flex-basis: 24.33%;
        height: 34vh;
    }
}

@media (min-width: 1025px) and (max-width: 1439px) and (orientation: portrait) {
    :host app-portfolio-thumb {
        flex-basis: 32.33%;
        height: 21vh;
    }
}

@media (min-width: 1440px) {
    :host app-portfolio-thumb {
        flex-basis: 19.33%;
        height: 34vh;
    }
}

@media (min-width: 1440px) and (orientation: portrait) {
    :host app-portfolio-thumb {
        flex-basis: 19.33%;
        height: 13vh;
    }
}

@media (min-width: 1440px) and (orientation: landscape) {
    :host app-portfolio-thumb {
        flex-basis: 19.33%;
        height: 32.33vh;
    }
}
