<app-bg-overlay #bgOverlay
                class="global hidden-by-z-index"
                (transitionend)="onOverlayTransitionEnd($event)"
></app-bg-overlay>
<app-portfolio-slide-show #slideShow
    class="hidden-by-z-index"
    [activeImageIndex]="activeImageItemIndex"
    [items]="slideShowImages"
    (close)="closeSlideShow()"
    (nextslide)="nextSlide()"
    (prevslide)="prevSlide()"
    (gotoslide)="gotoSlide($event)"
    (selftransitionend)="onOverlayTransitionEnd($event)"
></app-portfolio-slide-show>
<app-portfolio-thumbs
    [items]="thumbImages"
    [activeImageIndex]="activeImageItemIndex"
    (thumbclick)="openSlideShow($event)"></app-portfolio-thumbs>
