@import "../../scss/component-includes";

:host {
    overflow: hidden;
    height: 100%;
    @include user-select(none);

    &.not-loaded {
        .preload-overlay {
            @include opacity(1);
        }
        img {
            opacity: 0;
            height: 100%;
        }
    }

    &, img, .progress-text {
        display: block;
        position: relative;
    }

    &, img, .progress-text, .preload-overlay {
        width: 100%;
    }

    img,
    .preload-overlay {
        @include transition(fit-with-browser-prefixes((opacity $ani-speed-2 linear,), opacity));
    }

    img {
        height: auto;
        opacity: 1;
        z-index: 1;
    }

    .preload-overlay {
        position: absolute;
        height: 100%;
        @include opacity(0);
        z-index: 2;
    }

    .progress-text {
        top: 50%;
        left: 50%;
        text-align: center;
        font-weight: bold;
        font-size: 1.3rem;
        @include transform(translate(-50%, -50%));
    }

    // If `app-image-with-loader` is within `app-portfolio-thumbnail` then...
    &:host-context(app-portfolio-thumb) {
        background: $color-7-2;
        color: $color-7-3;

        &,
        img {
            @include with-browser-prefixes(transform-origin, (center center));
            @include transition(
                    fit-with-browser-prefixes((
                        transform $ani-speed-3,
                        opacity $ani-speed-1,
                        filter $ani-speed-1,
                        width $ani-speed-1 ease-in-out,
                        height $ani-speed-1 ease-in-out,
                    ), (opacity transform filter))
            );
        }

        &.portrait img {
            width: 108%;
            height: auto;
        }

        &.landscape img {
            width: auto;
            height: 108%;
        }

        &:hover,
        &:active {
            cursor: pointer;
            @include opacity(1);
            z-index: 2;
        }

        &.active img,
        &:hover img {
            @include transform(scale(1.021));
            filter: brightness(1.1);
        }

        &:active img {
            @include transform(scale(1.021));
            filter: brightness(1.1) saturate(104%);
        }
    }

    &:host-context(app-portfolio-slide) {
        @extend %slide-transition-def;
        &.not-loaded {
            img { display: none; }
            height: 21vh;
        }
        &.loaded {
            height: auto;
        }

        &,
        .preload-overlay {
            background: none;
        }
        .progress-text {
            color: $color-7-2;
        }

        img {
            @include opacity(0.89);
        }

        &:hover img,
        &.active img,
        &:active img {
            @include opacity(1);
        }
    }

}
