@import "../../scss/component-includes";
:host {
    position: fixed;
    display: inline-block;
    right: 13px;
    bottom: 13px;
    width: auto;
    will-change: transform;
    @include opacity(0);
    @include transition(fit-with-browser-prefixes((transform 0.34s, opacity 0.34s,), (transform, opacity)));
    @include transform(translateX(101%));
    z-index: 9;

    &.active {
        @include transform(translateX(0));
        @include opacity(1);
    }

    &.pos-rel {
        position: absolute;
        bottom: auto;
        padding-bottom: 3px;
        @include transition(none);
        @include transform(translateY(-100%));
    }

    .btn {
        display: block;
        font-size: 21px;
    }
}
