.arrow-btn-container {
  width: 64px;
  height: 96px;
  @include user-select(none);
}
[disabled].arrow-btn-container {
  display: none;
  pointer-events: none;
}
.arrow-btns-block {
  width: 100%;
}
.arrow-btn-container {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%) scale(0.55, 0.55));
  z-index: 3;
}
.arrow-btn-left {
  left: -13px;
}
.arrow-btn-right {
  right: -13px;
}