.dark-arrow-btn {
  polyline.outline {
    stroke-width: 13px;
    stroke: $color-7-2;
  }
  polyline.foreground {
    stroke: $color-7-1; //#1240AB;
  }
  &:hover polyline.foreground {
    stroke: $color-3-1; //#6C8CD5;
  }
  &:active polyline.foreground {
    stroke: $color-7-1; //#6C8CD5;
  }
}
